@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*
    Variaveis
*/
:root {

    /*Modo Claro*/
    --fundo-pagina-claro: #F9F9F9;
    --texto-padrao-claro: #1E1E1E;
    --cor-principal-claro: #0077CC;
    --fundo-card-claro: #FFFF;
    --hover-links-btn-claro: #005FA3;
    --bordas-divisores-claro: #E0E0E0;


    /*Modo Escuro*/


    --fundo-pagina-escuro: #1E1E1E;
    --texto-padrao-escuro: #F9F9F9;
    --cor-principal-escuro: #4DA6FF;
    --fundo-card-escuro: #2C2C2C;
    --hover-links-btn-escuro: #66BFFF;
    --bordas-divisores-escuro: #444444;


    --font-titulo: "Poppins", sans-serif;
    --font-texto: "Inter", sans-serif;
}

* {
    font-family: var(--font-texto);
}

ul {
    list-style: none;
}

h1 {
    font-family: var(--font-titulo);
}

.container {
    width: 95%;
    margin: 0 auto;
}

.quebra-mobile {
    display: block;
}

.divisor {
    height: 1px;
    margin-top: 1rem;
    background-color: var(--bordas-divisores-claro);
}


/*Header*/

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h3 {
    margin-left: 0.5rem;
    color: var(--cor-principal-claro);
    font-size: 1.4rem;
    font-family: var(--font-titulo);
}

/* hero */


#hero {
    text-align: center;
    font-weight: 600;
    font-family: --font-titulo;
    margin-top: 1rem;

}

.texto-hero {
    color: gray;
    font-family: var(--font-titulo);
    font-weight: 400;
    font-size: 1.3rem;
    margin-top: 1rem;
}

/*Nossos Cursos*/

#nossos-cursos h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: var(--font-titulo);
    font-weight: 600;
}

#cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    justify-content: center;
}

.card-box {
    border-radius: 1rem;
    min-height: 450px;
}

.card-imagem {
    width: 100%;
    border-radius: 0.75rem;
}

.card-content-box {
    transform: translateY(-30px);
    border: var(--bordas-divisores-claro) 1px solid;
    background-color: var(--fundo-card-claro);
    border-end-end-radius: 1rem;
    border-end-start-radius: 1rem;
}

.card-content-box h5 {
    margin-top: 2rem;
    font-size: 1.1rem;
    font-weight: 700;
    font-family: var(--font-titulo);
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
}

.card-content-box img {
    margin-right: 0.5rem;
}

.content-infos {
    padding-top: 0.5rem;
    display: flex;
    width: 90%;
    margin: 0 auto;
    color: gray;
}

.content-infos img {
    max-width: 20px;
    width: 100%;
}


.content-infos-btn {
    max-width: 85%;
    background-color: var(--cor-principal-claro);
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 1.4rem;
    color: var(--fundo-card-claro);
    border-radius: 0.5rem;
}

.content-infos-btn p {
    text-align: center;
    padding: 0.6rem;
}


/*Matricula*/

#matricula {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

#matricula h5 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

#matricula-box {
    border: gray solid 0.5px;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 4rem;
}

#matricula-box h6 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
}

button {
    width: 95%;
    background-color: var(--cor-principal-claro);
    padding: 0.5rem;
    margin: 0 auto;
    color: var(--fundo-card-claro);
    border: none;
    border-radius: 0.5rem;
    font-family: var(--font-titulo);
}

aside {
    display: flex;
    flex-direction: column;
    border: var(--bordas-divisores-claro) solid 1px;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    gap: 8px;
}

aside h6 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: var(--font-titulo);
}

aside ul li {
    margin-bottom: 0.5rem;
}


/*Footer*/

#divisao-footer {
    margin-top: 4rem;
}

footer h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
    font-family: var(--font-titulo);
}

footer p {
    color: gray;
    text-align: center;
    font-size: 0.9rem;
}


#contato {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

#social-icons ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem
}

#copyright {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


/*Desktop*/

#header-desktop {
    display: none;
}

@media screen and (min-width: 1024px) {


    /*Header */

    #header-desktop {
        display: flex;
        align-items: center;
        padding: 1rem;
    }

    #menu-hamburguer {
        display: none;
    }

    #header-desktop ul {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        margin-right: 2rem;
    }

    #header-desktop ul li a {
        text-decoration: none;
        color: var(--fundo-card-escuro);
        font-size: 1.2rem;
    }

    #header-desktop ul li.active a {
        color: var(--cor-principal-claro);
        font-weight: 700;
        /* opcional, só pra destacar */
    }


    /* Hero*/
    .quebra-mobile {
        display: none;
    }

    .quebra-desktop {
        display: block;
    }

    h1 {
        margin-top: 1.5rem;
        font-size: 3.3rem;
    }

    .texto-hero {
        font-size: 1.7rem;
    }

    /*Nossos Cursos*/

    #cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        /* ISSO faz todos terem o mesmo tamanho vertical */
        gap: 1.5rem;
    }

    .card-box {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .card-content-box {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        transform: translateY(-30px);
        margin-bottom: -30px;
    }

    .card-content-box h5 {
        min-height: 3.5rem;
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
        font-size: 1.6rem;
    }

    .content-infos {
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
    }

    .content-infos-btn {
        padding: 0.2rem;
        align-items: center;
        width: 100%;
        margin-top: auto;
    }

    .content-infos-btn p {
        font-size: 1.3rem;
        font-weight: 600;
        font-family: var(--font-titulo);
    }

    


}